/* Table Styles */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1em;
}

th,
td {
  border: 1px solid #444;
  padding: 8px;
  text-align: left;
}

thead {
  background-color: #ccc;
}
